span.VPLink {

    .link-text,
    .link-text.light {
        font-weight: bold;
        color: #eee;
    }
}

.VPNavBar {
    .VPNavBarTitle {
        .VPImage {
            border-radius: 50%;
        }
    }
}

.VPHero {
    .container {
        padding-top: 50px;

        .image-container {
            animation: ScaleRotate 2.2s ease-in-out infinite;

            .image-bg {
                width : 420px;
                height: 128px;
            }

        }
    }


    @keyframes ScaleRotate {
        0% {
            transform: scale(1) rotate(-5deg);
        }

        50% {
            transform: scale(1.12) rotate(5deg);
        }

        100% {
            transform: scale(1) rotate(-5deg);
        }
    }
}