html,
body {
  height: 100%;
  margin: 0;
}
html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* 导航样式 */
/* 导航样式 */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
}
.nav-links .active {
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.nav-links .active::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40%;
  height: 5px;
  background-color: #ebb761;
  z-index: -1;
}

.expanded {
  display: unset;
}

.headerNav {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 636px) {
  .headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-links {
    /* margin-left: 5em; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

html.dark {
  background-color: #0d1116;
  color: #fff;
}

.dark .nav-links a {
  color: #ddd;
}

footer a {
  color: #3d3d3d;
}
.dark footer a {
  color: #fff;
}
