---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = '关于我';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hey, my name is huyikai. In chinese is 胡义凯 (hú yì kaǐ).</p>

  <p>I am currently a full-time software development engineer.</p>
  <h2>Skills</h2>
  <img
    src="https://skillicons.dev/icons?i=html,css,sass,less,tailwind,js,ts,vite,vue,pinia,vitest,react,pnpm,flutter,astro,python,django,nodejs,npm,express,git,docker,nginx,md,figma,ps,ai,pr,discord,tensorflow"
  />

  <h2>Hobbies</h2>
  <ul>
    <li>
      <b>Coding</b>
      <p>
        In my spare time, I do some open source projects, such as contributing
        to astro.This allows me to learn a lot and help others.
      </p>
    </li>
    <li>
      <b>Photography</b>
      <p>
        Learning photography is to better record the wonderful moments.
        Occasionally pick up some commercial shooting, and now the cost of
        photography equipment has been earned back.
      </p>
    </li>
    <li>
      <b>Travel</b>
      <p>
        Travel can let me see a different world, can let me see a different
        person, can let me see Different things can make me see different world
        views.
      </p>
    </li>
    <li>
      <b>Running</b>
      <p>
        Through a Japanese anime "Run with the Wind (風が強く吹いている)" was
        infected, running is a good way to exercise, can let me keep healthy,
        enjoy the feeling of this challenge, At present, the best result of half
        a horse is 1 hour and 50 minutes.
      </p>
    </li>
  </ul>

  <h2>Contact</h2>
  <p>
    If you're interested in further communication, feel free to reach out to me
  </p>
  <ul>
    <li>Email: hyk_tiger@foxmail.com</li>
    <li>Twitter: @HykTiger</li>
    <li>Discord: hyk_tiger</li>
    <li>WeChat: huyikai</li>
  </ul>

  <p>Hope you can find something interesting here.</p>
</BaseLayout>
