---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = '首页';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="home">
    <h2>👋 Hey, My name is huyikai.</h2>
    <p>Software Engineer / Photographer / Designer</p>

    <h2>Skills</h2>

    <p style="text-align: center;">
      <a href="https://github.com/huyikai">
        <img
          src="https://skillicons.dev/icons?i=html,css,sass,less,tailwind,js,ts,vite,vue,pinia,vitest,react,pnpm,flutter,astro,python,django,nodejs,npm,express,git,docker,nginx,md,figma,ps,ai,pr,discord,tensorflow"
        />
      </a>
    </p>
  </div>
</BaseLayout>

<style>
  .home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
</style>
