---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = '首页';
import { Image } from 'astro:assets';
import avatar from '@assets/avatar.jpg';
import { fade } from 'astro:transitions';
import TagItem from '@components/TagItem.astro';
import Tag from '@components/Tag.astro';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="home">
    <Image
      transition:animate={fade({ duration: '1s' })}
      class="avatar"
      src={avatar}
      alt="avatar"
      width="200"
      height="200"
    />
    <h2>huyikai</h2>

    <Tag>
      <TagItem title="Software Engineer" />
      <TagItem title="Photographer" />
      <TagItem title="Designer" />
    </Tag>
  </div>
</BaseLayout>

<style>
  .home {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .avatar {
    border-radius: 50%;
    margin: 2.4rem 0 1rem 0;
    box-shadow: 0 0 16px rgba(119, 157, 168, 0.8);
  }
</style>
