---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Post from '@components/Post.astro';
const allProjects = await getCollection('project');
const pageTitle = 'Project';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Open source projects</p>
  <ul>
    {
      allProjects.map((project: any) => (
        <Post
          url={`/project/${project.slug}/`}
          title={project.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
