---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Post from '@components/Post.astro';
const allStacks = await getCollection('stack');
const pageTitle = 'Technology Stack';
---

<BaseLayout pageTitle={pageTitle}>
  <p>record the knowledge of technology Stack</p>
  <ul>
    {
      allStacks.map((stack: any) => (
        <Post
          url={`/stack/${stack.slug}/`}
          title={stack.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
