---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('stack');
const pageTitle = 'stack!!';
---

<BaseLayout pageTitle={pageTitle}>
  <p>stack</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost
          url={`/stack/${post.slug}/`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
