---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header style="width: 100%;padding:0 1rem">
  <nav class="headerNav">
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
