---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import { fade } from 'astro:transitions';
const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{pageTitle}</title>

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main style="width:100%;max-width: 80ch;margin: 0 auto;flex: 1;">
      {
        pageTitle !== '首页' && (
          <h1 transition:animate={fade({ duration: '0.6s' })}>{pageTitle}</h1>
        )
      }
      <slot />
    </main>
    <Footer />
    <script>
      import '../scripts/menu.ts';
    </script>
  </body>
</html>
